.total{
    display: flex;
    color: var(--light-grey);
}

.total-month{
    padding: 0!important;
    margin: 0;
    font-size: .8rem;

    color: var(--neutral-grey);
}

.total-monthly{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}